
section {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 1em 0;
}

.wrapper-mid {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 1em 0;
}

.wrapper-small {
  margin: 0 auto;
  max-width: 724px;
  padding: 0 1em 0;
}
