nav {
  //background: $black;
  padding: 0.5em 1em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1em;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: $grey;
  &:active, &:hover {
    color: $blue-light;
  }
}

