
img {
  width: 100%;
}

.container-note {
  margin: 0 0 3em;
}

.crest-animation {
  display: block;
  text-align: center;
  margin: -1em auto 0;
  width: 50%;
  max-width: 360px;
  height: 38%;
  z-index: -1;
  vertical-align: top;
}

svg, svg g {
  display: block;
  vertical-align: top;
}

#ship {
  animation-name: ship;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  animation-delay: 0.75s;
  animation-iteration-count: 1;
}

@keyframes ship {
  0% {
    transform: matrix(0.7,0,0,0.71052632,135,-185);
    opacity: 1
    }
  60% {
    opacity: 1;
  }
  100% {
    transform: matrix(0.7,0,0,0.71052632,135,-600);
    opacity: 0;
  }
}

.notes,
.header {
  max-width: $txt-max-width;
  margin: 0 auto 1em;
}


.header {
  margin: 0 auto 3em;
}

.note-name {
  margin: 1em 0;
}

.sidenote {
  font-size: 0.75em;
  color: $grey;
  margin-top: 0.35em;

}